<script lang="ts">
import Vue from 'vue';
import { BySolutionHero } from '../by-solution/index.vue';
import {
  NextStep,
  CTA as SolutionsCallToAction,
  FeaturedMedia,
  CopyMedia,
  Copy,
  SlpDisclaimer,
  CopyResources,
  TabsMenu,
  PullQuote,
  Benefits,
  LogoLinks,
  EventCard,
  CopyForm,
  GroupButtons,
} from '../../common/index.vue';
import {
  SolutionsResourceList as SolutionsResources,
  SolutionsCarouselVideos,
  FeatureList as SolutionsFeatureList,
  CaseStudies,
  SolutionsHero,
  SolutionsVideoFeature,
} from '../index.vue';

export default Vue.extend({
  name: 'DefaultTemplate',
  components: {
    NextStep,
    BySolutionHero,
    CopyForm,
    EventCard,
    LogoLinks,
    SolutionsCallToAction,
    SolutionsFeatureList,
    FeaturedMedia,
    CopyMedia,
    Copy,
    SlpDisclaimer,
    SolutionsResources,
    CopyResources,
    TabsMenu,
    PullQuote,
    Benefits,
    SolutionsCarouselVideos,
    SolutionsHero,
    CaseStudies,
    GroupButtons,
    SolutionsVideoFeature,
  },
  props: {
    solutions: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      override: {},
    };
  },
  async fetch() {
    try {
      const res = await this.$content(`solutions/index`).fetch();
      if (res['next-step']) {
        this.override = res['next-step'];
      }
    } catch (error) {}
  },
});
</script>

<template>
  <div class="solutions-wrapper">
    <SlpContainer v-if="solutions">
      <component
        :is="component.name"
        v-for="component in solutions.components"
        :key="component.name"
        :data="component.data"
      />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep>
        <template v-if="override?.text" #ft-text>{{ override.text }}</template>
      </NextStep>
    </SlpContainer>
  </div>
</template>
<style scoped lang="scss">
.solutions-wrapper {
  overflow: hidden;
}
</style>
