<script>
export default {
  data() {
    return {
      text: '',
      link: {},
    };
  },
  async fetch() {
    const doc = await this.$content('index').fetch();
    if (doc['top-banner']) {
      this.text = doc['top-banner'].text;
      this.link = doc['top-banner'].link;
    }
  },
  methods: {
    close() {
      this.$refs['top-banner'].style.opacity = 0;
      this.$refs['top-banner'].style.height = 0;
      this.$refs['top-banner'].style.padding = 0;
      this.$refs['top-banner'].style['min-height'] = 0;
    },
  },
};
</script>
<template>
  <div ref="top-banner" class="top-banner">
    <div class="slp-text-body3 content">
      <span>{{ text }}</span>
      <SlpButton
        v-if="link"
        variant="tertiary"
        :href="link.href"
        :data-ga-name="link.ga_name"
        data-ga-location="top promotion banner"
        >{{ link.text }}
        <SlpIcon v-if="link.icon" :icon="link.icon" />
      </SlpButton>
    </div>

    <SlpIcon
      class="btn-close"
      variant="product"
      name="close"
      data-ga-name="x"
      data-ga-location="top promotion banner"
      @click.native="close()"
    />
  </div>
</template>
<style lang="scss" scoped>
.top-banner {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(238, 231, 253, 1),
    rgba(246, 243, 254, 0.83),
    rgba(255, 212, 216, 0.45)
  );
  //todo: use constants
  min-height: 72px;
  text-align: start;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 250ms ease-in, opacity 200ms;
  font-size: 14px;
  padding: 1rem;

  .content {
    padding-left: 0.5rem;
    margin-right: 63px;
    line-height: 1.1rem;
  }

  .btn-close {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  & > * {
    margin: auto 0;
  }
  span {
    margin-right: 4px;
  }
  a {
    // overwriting slp default style
    display: inline;
    font-size: 14px;
    padding: 0;
    vertical-align: inherit;
    white-space: nowrap;
    &:deep svg {
      margin-bottom: -3px;
    }
    &:deep div {
      display: inline-block;
    }
    @media (max-width: $breakpoint-md) {
      text-decoration: underline;
    }
  }

  @media (min-width: $breakpoint-md) {
    min-height: 52px;
    text-align: center;
    .btn-close {
      right: 2%;
    }
  }
}
</style>
