<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeaturesProductsCategoryPricingPills',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    tabTitle: {
      type: String,
      required: false,
      default: undefined,
    },
    currentCategory: {
      type: String,
      required: true,
      default: '',
    },
    hasStageCategory: {
      type: Boolean,
      required: false,
      default: true,
    },
    pillsDataGaLocation: {
      type: String,
      required: false,
      default: undefined,
    },
  },
  data() {
    return {
      disabled: false,
      dataProperties: {
        features: this.tabTitle?.toLowerCase(),
        sub: this.currentCategory?.toLowerCase(),
        card: this.data?.title?.toLowerCase(),
      },
    };
  },
});
</script>

<template>
  <div class="features-product-category-pricing-pills">
    <SlpTooltip
      :id="`${data.title} free`"
      plan="free"
      :data-properties="
        tabTitle ? { ...dataProperties, plan: 'free_callout' } : null
      "
      text="[Get a Free Trial](https://gitlab.com/users/sign_up/company/new?trial=true)"
      position="top"
      class="features-product-category-pricing-pills__wrapper"
    >
      <div>
        <SlpPillButton
          :href="`https://gitlab.com/users/sign_up/company/new?trial=true`"
          :type="data.isFree ? 'true' : 'false'"
          :data-ga-features="tabTitle?.toLowerCase() ?? null"
          :data-ga-features-sub="
            tabTitle && hasStageCategory ? currentCategory.toLowerCase() : null
          "
          :data-ga-features-sub-card="
            tabTitle ? data.title.toLowerCase() : null
          "
          :data-ga-name="tabTitle ? 'free' : null"
          :data-ga-location="
            pillsDataGaLocation ?? (tabTitle ? 'features content' : null)
          "
          class="features-product-category-pricing-pills__pill"
          >Free</SlpPillButton
        >
      </div>
    </SlpTooltip>
    <SlpTooltip
      :id="`${data.title} premium`"
      plan="premium"
      :data-properties="
        tabTitle ? { ...dataProperties, plan: 'premium_callout' } : null
      "
      text="Learn more about [GitLab Premium](https://about.gitlab.com/pricing/premium/)"
      position="top"
      class="features-product-category-pricing-pills__wrapper"
    >
      <div>
        <SlpPillButton
          :href="`https://about.gitlab.com/pricing/premium/`"
          :type="data.isPremium ? 'true' : 'false'"
          :data-ga-features="tabTitle?.toLowerCase() ?? null"
          :data-ga-features-sub="
            tabTitle && hasStageCategory ? currentCategory.toLowerCase() : null
          "
          :data-ga-features-sub-card="
            tabTitle ? data.title.toLowerCase() : null
          "
          :data-ga-name="tabTitle ? 'premium' : null"
          :data-ga-location="
            pillsDataGaLocation ?? (tabTitle ? 'features content' : null)
          "
          class="features-product-category-pricing-pills__pill"
          >Premium</SlpPillButton
        >
      </div>
    </SlpTooltip>
    <SlpTooltip
      :id="`${data.title} ultimate`"
      plan="ultimate"
      :data-properties="
        tabTitle ? { ...dataProperties, plan: 'ultimate_callout' } : null
      "
      text="Learn more about [GitLab Ultimate](https://about.gitlab.com/pricing/ultimate/)"
      position="top"
      class="features-product-category-pricing-pills__wrapper"
    >
      <div>
        <SlpPillButton
          :href="`https://about.gitlab.com/pricing/ultimate/`"
          :type="data.isUltimate ? 'true' : 'false'"
          :data-ga-features="tabTitle?.toLowerCase() ?? null"
          :data-ga-features-sub="
            tabTitle && hasStageCategory ? currentCategory.toLowerCase() : null
          "
          :data-ga-features-sub-card="
            tabTitle ? data.title.toLowerCase() : null
          "
          :data-ga-name="tabTitle ? 'ultimate' : null"
          :data-ga-location="
            pillsDataGaLocation ?? (tabTitle ? 'features content' : null)
          "
          class="features-product-category-pricing-pills__pill"
          >Ultimate</SlpPillButton
        >
      </div>
    </SlpTooltip>
    <SlpTypography
      v-if="data.isSelfManaged"
      tag="p"
      variant="body3"
      class="features-product-category-pricing-pills__availability"
    >
      *Only available on Self-Managed
    </SlpTypography>
  </div>
</template>

<style scoped lang="scss">
.features-product-category-pricing-pills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacing-16;
  width: 310px;

  @media (max-width: 1170px) {
    width: auto;
  }

  &__wrapper {
    border: 0;
    padding: 0;
    margin: 0 $spacing-8 $spacing-8 0;
  }

  &__pill {
    pointer-events: all;
  }
  &__text {
    color: $color-accent-500;
    .features-product-category-pricing-pills__pill--disabled & {
      color: $color-surface-500;
    }
  }
  &__availability {
    font-style: italic;
    flex: 0 1 100%;
    margin-bottom: $spacing-24;
  }
  & :deep .slp-tooltip__content {
    font-size: 14px;
    pointer-events: all;
    text-align: center;
    padding: $spacing-8 $spacing-16;
    line-height: 1.4;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + $spacing-8);
    &::before {
      transform: translateX(-50%);
    }
    &:after {
      content: '';
      height: $spacing-8;
      width: 100%;
      position: absolute;
      bottom: -$spacing-8;
      left: 0;
    }

    a {
      color: $color-secondary-200;
      text-decoration: underline;
    }
  }
}
</style>
